<div style="background-color: #36934B;display: flex ;padding-top: 12px; justify-content: center; color: aliceblue;"><p>Nueva Actividad</div>
<mat-dialog-content >
      <mat-form-field style="width: 100%;" class="form-input" appearance="outline">
        <mat-label>Actividad</mat-label>
        <input matInput placeholder="Nombre de  la actividad">
      </mat-form-field>
      
</mat-dialog-content>
<mat-dialog-actions>

<button mat-flat-button mat-dialog-close  >Aceptar</button>
<button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>